<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tamrin2">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".alarmFeature.AlarmActivity"
            android:exported="true"
            android:enabled="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".alarmFeature.AlarmServiceTwo" />
        <service android:name=".alarmFeature.AlarmService"/>

<!--        <receiver android:name=".alarmFeature.AlarmReceiver">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.tutorialspoint.CUSTOM_INTENT">-->
<!--                </action>-->
<!--            </intent-filter>-->

<!--        </receiver>-->

        <receiver android:name=".alarmFeature.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>

                <action android:name="android.intent.action.BOOT_COMPLETED" />

            </intent-filter>
        </receiver>

    </application>
    <uses-permission android:name="android.permission.VIBRATE"/>

</manifest>